/_sass/vendor/font-awesome/_variables.scss filter=lfs diff=lfs merge=lfs -text
/assets/fonts/academicons.svg filter=lfs diff=lfs merge=lfs -text
/assets/fonts/academicons.woff filter=lfs diff=lfs merge=lfs -text
/assets/webfonts/fa-brands-400.ttf filter=lfs diff=lfs merge=lfs -text
/assets/webfonts/fa-brands-400.woff2 filter=lfs diff=lfs merge=lfs -text
/assets/webfonts/fa-solid-900.ttf filter=lfs diff=lfs merge=lfs -text
/assets/webfonts/fa-solid-900.woff2 filter=lfs diff=lfs merge=lfs -text
/images/themes/homepage-air-dark.png filter=lfs diff=lfs merge=lfs -text
/images/themes/homepage-air-light.png filter=lfs diff=lfs merge=lfs -text
/images/themes/homepage-dark.png filter=lfs diff=lfs merge=lfs -text
/images/themes/homepage-light.png filter=lfs diff=lfs merge=lfs -text
/files/BioMechSafeTraj.pdf filter=lfs diff=lfs merge=lfs -text
/files/Biomechanical-Analysis-of-the-Slow-Twitch-Red-Muscle-Force-Transmission-Pathways-in-Tunas.pdf filter=lfs diff=lfs merge=lfs -text
/files/HapticShoulder.pdf filter=lfs diff=lfs merge=lfs -text
/files/Layer_Jamming_RAL_2017.pdf filter=lfs diff=lfs merge=lfs -text
/files/MobAnlysSBLoc.pdf filter=lfs diff=lfs merge=lfs -text
/files/NASU.pdf filter=lfs diff=lfs merge=lfs -text
/images/IMG_7073.JPEG filter=lfs diff=lfs merge=lfs -text
/files/WorkingCV.pdf filter=lfs diff=lfs merge=lfs -text
/images/CoverPhoto.jpg filter=lfs diff=lfs merge=lfs -text
/videos/ARCSnake_TB2.MP4 filter=lfs diff=lfs merge=lfs -text
/videos/ARCSnake_V2.MP4 filter=lfs diff=lfs merge=lfs -text
/videos/Legged_Robot.MP4 filter=lfs diff=lfs merge=lfs -text
/videos/ARCSnake_TB2[[:space:]](1).mp4 filter=lfs diff=lfs merge=lfs -text
/videos/ARCSnake_V2[[:space:]](1).mp4 filter=lfs diff=lfs merge=lfs -text
/videos/Legged_Robot[[:space:]](1).mp4 filter=lfs diff=lfs merge=lfs -text
